[DEFAULT]
workspace = /home/shilei/fbpmx/list_standard/list_standard_${date}

[project]
actions = generate
datasets = raw_list_data, raw_list_data_mergeAll


[dataset_raw_list_data]
class = ReadExcelLackKeyDataset
key_cols = uid
feature_cols = costPartial, element, material, locElement
dir = /home/shilei/corpus/cost_split/清单要素解析202603/1111_豆各庄5-09号楼-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_1111_雄安宣武医院-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/1兰州市污泥处置厂升级改造项目二期工程渗滤液处理站建设项目EPC总承包_兰州市污泥处置厂升级改造项目二期工程渗滤液处理站建设项目EPC总承包-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/23学校-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/3#楼_3#楼-N-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/A5#楼-GBQ6_1-2021年昆区农村牧区人居环境综合治理工程新光四村综合整治工程施工二十五标段(审核)-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_A-7土建工程_产值（二四直管部）-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/A项目_花都项目测算导入文件-4.221-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_A项目_花都项目测算导入文件-4.22-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/XX广场工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_一期-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/一期-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/万家寨水利枢纽营地主楼建设工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/中标清单-白沙门雷达站迁建工程项目（施工）-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/中标版6.0-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_中铁阅山湖工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/京津城际公司经营场所装修改造工程项目--14稿--定-备份-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_住宅项目1-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/光伏产业园附属宿舍（地上）_光伏产业园宿舍（地上）。-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/光谷筑芯项目-黄-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/兰州巴蜀物流基地项目(2)-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/兰州市污泥处置厂升级改造项目二期工程渗滤液处理站建设项目EPC总承包-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/冷链仓储加工配送中心及配套停车楼项目施工-投标最终差3164.5(终)-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/别墅测算-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-公共建筑-L04-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-公共建筑-L10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-公共建筑-M01-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-公共建筑-M02-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-公共建筑-M03-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-公共建筑-M04-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-H06-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-H07-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-J08-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-J09-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-L06-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-M07-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-M08-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-M09-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-M10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N01-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N02-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N03-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N06-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N07-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N08-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N09-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/北京-居住建筑-N10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/华大全球创新中心装修工程-暖通工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/华电二期第五批热力站[全费用]-3.13（2858）-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/华科创新园区调整-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/华能厂房-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/厂房工程项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/吉林一方厂房-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/吉林厂房-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_吉林高新区（北区）会展中心项目_会展中心项目.-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/和谐花园小区（已标价）--解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/和谐花园项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_商业工程_1桥头镇地瓜集散与展销中心-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/四位一体_普洱市思茅区倚象镇2023年抓党建促乡村振兴-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/四川-公共建筑-M05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/四川-居住建筑-M06-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_国博项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_国标工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/【土建】中粮油脂饲料蛋白加工项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/土建工程_2地块土建工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_土建-英项目_土建开发区项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/城市更新项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/墙、柱面装饰与隔断、幕墙工程-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/大唐湖滨区磁钟项目工程主体施工_北京朝阳调整工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/大街街道和平片区棚户区改造_大街街道和平片区棚户区改造项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/宁夏危险废物(含医疗废物)综合利用处置中心项目(一期)总承包(EPC)工程---刚性填埋场1_平罗县红崖子园保障性安居工程(公共租赁住房)建设项目一标段-中标价9#10#-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/宁夏危险废物(含医疗废物)综合利用处置中心项目(一期)总承包(EPC)工程---刚性填埋场1_德坤刚性填埋场-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/安徽-居住建筑-I06-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_富源得戛煤矿-施工图预算-2025-5.21-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/山东-居住建筑-J05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/山东-居住建筑-J06-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/山东-居住建筑-K03-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/山东-居住建筑-K08-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/常州卫生高等职业技术学校移址迁建项目-土建（部分）-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/广东-居住建筑-J01-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/广东-居住建筑-J02-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/广东-居住建筑-K05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/建筑工程-住宅-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/房建项目_省机关海府大院规划改造项目K-02’地块（二期）三标段（1）-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_房建项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/措施项目-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/改造项目_改造项目-土建-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/新_天津医科大学第二医院现状高压变配电改造工程-5.9(1)-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/新校区能效管理平台建设项目-审定-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/日照经济技术开发区奎山街道片区成都路城中村改造项目工程D3-A楼-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/晨光综合楼-导出-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-公共建筑-K04-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-公共建筑-K10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-南京-居住建筑-J10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-居住建筑-H04-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-居住建筑-I07-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-居住建筑-L08-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-居住建筑-L09-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G01-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G02-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G03-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G04-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G06-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G07-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G08-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G09-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-G10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-H01-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-H05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江苏-苏州-居住建筑-H09-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江西-居住建筑-H10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江西-居住建筑-I05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/江西-居住建筑-J04-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-保定-居住建筑-F02-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F03-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F04-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F05-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F06-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F07-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F08-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F09-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-F10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河北-居住建筑-H02-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/河南-居住建筑-I10-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/海上项目_海上项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/海南-居住建筑-K07-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/混凝土工程-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_潍坊大观小学新建综合楼-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_灞桥_汇诚电信草堂生产基地1#4#楼改造工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/甘肃-公共建筑-J03-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/甘肃温商银滩综合体项目10#11#楼安装-核对工程量后预埋-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/石嘴山市公安局交通警察分局办公楼改造项目(1)1)(1)-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/砌筑工程-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/福建-福州-居住建筑-I01-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/第一期-服务与控制中心精装修工程(1)-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/米线加工厂_造甲乡双丰米线产业园项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/花都区块1#-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_花都项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/蔬菜_陇南市武都区县门街棚户区改造项目（二期）第二标段-2-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_西安改造项目-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/西直门外大街工程_西城首府三期工程12-15#楼-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/还建房_单项工程-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/_迪力普_常州卫生高等职业技术学校移址迁建项目-土建（部分）-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/重庆东站一带一路交流服务中心4号楼施工001-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/重庆-居住建筑-K01-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/银高（第一版）施工图预算-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/门窗工程-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/防水工程-1-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/陇星4#楼新预算--主体阶段-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/项目562170_e4387e8d-6c15-42e6-aa17-cedf8b5f8c2d-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/项目563208_9f4c5506-e475-45a0-b035-0990b92bf7c5-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/项目610282_f2b5aa9f-fc78-4e20-a341-e50cf0a5475c-解析预期结果(GDE_预算清单).xlsx,/home/shilei/corpus/cost_split/清单要素解析202603/项目610541_f7a07f63-6e71-4636-88a7-1a4790b4bb2a-解析预期结果(GDE_预算清单).xlsx


[dataset_raw_list_data_trans]
class = MapDataset
input = raw_list_data
expression = exec('import re; import uuid') or {"item_id": uuid.uuid3(uuid.NAMESPACE_DNS, str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"])).hex,
    "list_key": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"]),

    "item_name": x["清单名称"] if x["清单名称"] is not None else "",
    "item_feature": x["项目特征"] if x["项目特征"] is not None else "",
    "upper_item_name": x["分部分项全路径"] if x["分部分项全路径"] is not None else "",
    "pid": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + "-".join(str(x["uid"]).split("-")[:-1]),

    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["项目特征"]}' if x["项目特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["分部分项全路径"]}' if x["分部分项全路径"] is not None else "",
    }
keep_exists = True


[dataset_raw_list_data_dedup]
class = AccumulateDataset
input = raw_list_data_trans
deduplicate_by = list_key


[dataset_raw_list_data_specialty]
class = MapDataset
input = raw_list_data_trans
expression = {"list_key": x["list_key"], "专业": x["specialty"]}

[dataset_raw_list_data_specialty_grouped]
class = GroupedDataset
input = raw_list_data_specialty
groupby = list_key
value_key = 专业


[dataset_raw_list_data_partial]
class = MapDataset
input = raw_list_data_trans
expression = {"list_key": x["list_key"], "成本分部分项": x["costPartial"]}

[dataset_raw_list_data_partial_grouped]
class = GroupedDataset
input = raw_list_data_partial
groupby = list_key
value_key = 成本分部分项


[dataset_raw_list_data_element]
class = MapDataset
input = raw_list_data_trans
expression = {"list_key": x["list_key"], "构件": x["element"]}

[dataset_raw_list_data_element_grouped]
class = GroupedDataset
input = raw_list_data_element
groupby = list_key
value_key = 构件

[dataset_raw_list_data_material]
class = MapDataset
input = raw_list_data_trans
expression = {"list_key": x["list_key"], "材料": x["material"]}

[dataset_raw_list_data_material_grouped]
class = GroupedDataset
input = raw_list_data_material
groupby = list_key
value_key = 材料


[dataset_raw_list_data_locElement]
class = MapDataset
input = raw_list_data_trans
expression = {"list_key": x["list_key"], "部位构件": x["locElement"]}

[dataset_raw_list_data_locElement_grouped]
class = GroupedDataset
input = raw_list_data_locElement
groupby = list_key
value_key = 部位构件


################################################


[dataset_raw_list_data_mergeElement]
class = MergeIntoDataset
base_dataset = raw_list_data_dedup
merge_datasets = raw_list_data_element_grouped
merge_type = only_replace
merge_key = list_key
merge_values = 构件
reset = False

[dataset_raw_list_data_mergeMaterial]
class = MergeIntoDataset
base_dataset = raw_list_data_mergeElement
merge_datasets = raw_list_data_material_grouped
merge_type = only_replace
merge_key = list_key
merge_values = 材料
reset = False


[dataset_raw_list_data_mergeLocElement]
class = MergeIntoDataset
base_dataset = raw_list_data_mergeMaterial
merge_datasets = raw_list_data_locElement_grouped
merge_type = only_replace
merge_key = list_key
merge_values = 部位构件
reset = False

[dataset_raw_list_data_mergePartial]
class = MergeIntoDataset
base_dataset = raw_list_data_mergeLocElement
merge_datasets = raw_list_data_partial_grouped
merge_type = only_replace
merge_key = list_key
merge_values = 成本分部分项
reset = False

[dataset_raw_list_data_mergeAll]
class = MergeIntoDataset
base_dataset = raw_list_data_mergePartial
merge_datasets = raw_list_data_specialty_grouped
merge_type = only_replace
merge_key = list_key
merge_values = 专业
reset = False