[DEFAULT]
workspace = /home/shilei/fbpmx/list_standard/list_offline_evaluate_${date}

[project]
actions = generate, evaluate, run
datasets = raw_cost_relation_data_trans, list_data_20260724
evaluators = cost_relation_predict, list_data_20260724_predict
stages = cost_relation_export, list_data_20260724_export

#############################################################

[dataset_list_data_20260724]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/客户反馈清单-20260724.xlsx
header_row = 0

[evaluator_list_data_20260724_predict]
class = SimplePredictor
datasets = list_data_20260724
models = tjqd2, bqitem_testrule
num_workers = 2



[dataset_list_data_20260724_for_export]
class = MapDataset
input = list_data_20260724
expression = exec('import re; import uuid') or {

    "清单专业": ",".join(sorted(x["tjqd2_score"]["specialty"])) if x["tjqd2_score"] is not None else "",
    "清单分部分项": ",".join(sorted(x["tjqd2_score"]["cost-partial"])) if x["tjqd2_score"] is not None else "",

    "清单构件": ",".join(sorted(x["tjqd2_score"]["element"])) if x["tjqd2_score"] is not None else "",
    "清单brief构件": ",".join(sorted(x["bqitem_testrule_score"]["element"])) if x["bqitem_testrule_score"] is not None else "",

    "清单材料": ",".join(sorted(x["tjqd2_score"]["material"])) if x["tjqd2_score"] is not None else "",
    "清单brief材料": ",".join(sorted(x["bqitem_testrule_score"]["material"])) if x["bqitem_testrule_score"] is not None else "",

    "清单部位构件": ",".join(sorted(x["tjqd2_score"]["loc-element"])) if x["tjqd2_score"] is not None else "",
    "清单brief部位构件": ",".join(sorted(x["bqitem_testrule_score"]["loc-element"])) if x["bqitem_testrule_score"] is not None else "",

    "清单构件属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["tjqd2_score"]["element_attr"]) ) )  if "tjqd2_score" in x and x["tjqd2_score"] is not None and "element_attr" in x["tjqd2_score"] else "",
    "清单brief构件属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["bqitem_testrule_score"]["element_attr"]) ) )  if "bqitem_testrule_score" in x and x["bqitem_testrule_score"] is not None and "element_attr" in x["bqitem_testrule_score"] else "",

    "清单材料属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["tjqd2_score"]["material_attr"]) ) )   if "tjqd2_score" in x and x["tjqd2_score"] is not None and "material_attr" in x["tjqd2_score"] else "",
    "清单brief材料属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["bqitem_testrule_score"]["material_attr"]) ) )   if "bqitem_testrule_score" in x and x["bqitem_testrule_score"] is not None and "material_attr" in x["bqitem_testrule_score"] else "",

    }
extra_dependencies = evaluator_list_data_20260724_predict
keep_exists = True


[stage_list_data_20260724_export]
class = DatasetValStage
dataset = list_data_20260724_for_export
output_fields = item_id, pid, list_key, upper_item_name, item_name, item_feature, unit, 清单专业, 清单分部分项, 清单构件, 清单brief构件, 清单材料, 清单brief材料, 清单部位构件, 清单brief部位构件, 清单构件属性, 清单brief构件属性, 清单材料属性, 清单brief材料属性
output_names = item_id, 工程id, 清单id, 上级名称, 清单名称, 清单特征, unit, 清单专业, 清单分部分项, 清单构件, 清单brief构件, 清单材料, 清单brief材料, 清单部位构件, 清单brief部位构件, 清单构件属性, 清单brief构件属性, 清单材料属性, 清单brief材料属性
save_res_path = /home/shilei/fbpmx/list_standard/list_offline_evaluate_${date}/list_data_20260724_export_${date}.xlsx
map_dict = {"清单brief构件":"清单构件", "清单brief材料": "清单材料",  "清单brief部位构件": "清单部位构件", "清单brief构件属性": "清单构件属性", "清单brief材料属性": "清单材料属性"}


##############################


[dataset_raw_cost_relation_data]
class = GlodonAECloudRelationExportDataset
dir = /home/shilei/corpus/cost_split/连接关系：清单定额-成本科目-发版验证数据集-导出-20260723
domain_model = "code": "清单编码", "description": "清单名称", "unit": "单位", "project_node_name": "单位工程名称", "full_name": "分部分项全路径", "spec": "项目特征", "work_scope": "工作内容", "is_measure": "是否措施","speciality": "专业", "feeType": "费用类别"


[dataset_raw_cost_relation_data_trans]
class = MapDataset
input = raw_cost_relation_data
expression = exec('import re; import uuid') or {"item_id": uuid.uuid3(uuid.NAMESPACE_DNS, str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"])).hex,
    "list_key": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"]),

    "item_name": x["清单名称"] if x["清单名称"] is not None else "",
    "item_feature": x["项目特征"] if x["项目特征"] is not None else "",
    "upper_item_name": x["分部分项全路径"] if x["分部分项全路径"] is not None else "",
    "unit": x["单位"] if x["单位"] is not None else "",

    "pid": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0],
    "pid_code": uuid.uuid3(uuid.NAMESPACE_DNS, str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0]).hex,

    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["项目特征"]}' if x["项目特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["分部分项全路径"]}' if x["分部分项全路径"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",
    }
keep_exists = True

[dataset_cost_relation_data]
class = FilterDataset
input = raw_cost_relation_data_trans
filters = (x["专业"] is None) or ("安装专业" not in x["专业"])


[model_tjqd2]
class = GDETJQD2ServiceModel
task_type = 清单
item_name_key = 清单名称
item_feature_key = 项目特征
upper_item_name_key = 分部分项全路径
project_name_key = 单位工程名称
unit_key = 单位
need_fields = 清单名称,项目特征,分部分项全路径,单位工程名称,单位

[model_bqitem_testrule]
class = GDEBqitemP2PServiceModel
task_type = 清单
item_name_key = 清单名称
item_feature_key = 项目特征
upper_item_name_key = 分部分项全路径
project_name_key = 单位工程名称
unit_key = 单位
need_fields = 清单名称,项目特征,分部分项全路径,单位工程名称,单位


[evaluator_cost_relation_predict]
class = SimplePredictor
datasets = cost_relation_data
models = tjqd2, bqitem_testrule
num_workers = 2

[dataset_cost_relation_for_export]
class = MapDataset
input = cost_relation_data
expression = exec('import re; import uuid') or {

    "清单专业": ",".join(sorted(x["tjqd2_score"]["specialty"])) if x["tjqd2_score"] is not None else "",
    "清单分部分项": ",".join(sorted(x["tjqd2_score"]["cost-partial"])) if x["tjqd2_score"] is not None else "",

    "清单构件": ",".join(sorted(x["tjqd2_score"]["element"])) if x["tjqd2_score"] is not None else "",
    "清单brief构件": ",".join(sorted(x["bqitem_testrule_score"]["element"])) if x["bqitem_testrule_score"] is not None else "",

    "清单材料": ",".join(sorted(x["tjqd2_score"]["material"])) if x["tjqd2_score"] is not None else "",
    "清单brief材料": ",".join(sorted(x["bqitem_testrule_score"]["material"])) if x["bqitem_testrule_score"] is not None else "",

    "清单部位构件": ",".join(sorted(x["tjqd2_score"]["loc-element"])) if x["tjqd2_score"] is not None else "",
    "清单brief部位构件": ",".join(sorted(x["bqitem_testrule_score"]["loc-element"])) if x["bqitem_testrule_score"] is not None else "",

    "清单构件属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["tjqd2_score"]["element_attr"]) ) )  if "tjqd2_score" in x and x["tjqd2_score"] is not None and "element_attr" in x["tjqd2_score"] else "",
    "清单brief构件属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["bqitem_testrule_score"]["element_attr"]) ) )  if "bqitem_testrule_score" in x and x["bqitem_testrule_score"] is not None and "element_attr" in x["bqitem_testrule_score"] else "",

    "清单材料属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["tjqd2_score"]["material_attr"]) ) )   if "tjqd2_score" in x and x["tjqd2_score"] is not None and "material_attr" in x["tjqd2_score"] else "",
    "清单brief材料属性": ",".join( sorted( map(lambda x: f'{x["name"]}_{x["property_name"]}_{x["property_value"]}', x["bqitem_testrule_score"]["material_attr"]) ) )   if "bqitem_testrule_score" in x and x["bqitem_testrule_score"] is not None and "material_attr" in x["bqitem_testrule_score"] else "",

    }
extra_dependencies = evaluator_cost_relation_predict
keep_exists = True


[stage_cost_relation_export]
class = DatasetValStage
dataset = cost_relation_for_export
output_fields = item_id, pid, list_key, upper_item_name, item_name, item_feature, unit, 清单专业, 清单分部分项, 清单构件, 清单brief构件, 清单材料, 清单brief材料, 清单部位构件, 清单brief部位构件, 清单构件属性, 清单brief构件属性, 清单材料属性, 清单brief材料属性
output_names = item_id, 工程id, 清单id, 上级名称, 清单名称, 清单特征, unit, 清单专业, 清单分部分项, 清单构件, 清单brief构件, 清单材料, 清单brief材料, 清单部位构件, 清单brief部位构件, 清单构件属性, 清单brief构件属性, 清单材料属性, 清单brief材料属性
save_res_path = /home/shilei/fbpmx/list_standard/list_offline_evaluate_${date}/cost_relation_export_${date}.xlsx
map_dict = {"清单brief构件":"清单构件", "清单brief材料": "清单材料",  "清单brief部位构件": "清单部位构件", "清单brief构件属性": "清单构件属性", "清单brief材料属性": "清单材料属性"}
