[DEFAULT]
workspace = /home/shilei/fbpmx/list_standard/list_entity_classification_${date}

[project]
actions = generate, evaluate
datasets = list_data_label_merge, list_data_label_merge_entity, list_material_entity
evaluators = list_ner_predict, list_entity_material_predict

###############################
# 解析测试集 训练

[dataset_raw_list_data]
class = GlodonAECloudExportDataset
dir = /home/shilei/corpus/cost_split/GDE_预算清单-清单验证集-20250701-20260129已完成-导出
domain_model = "code": "清单编码", "description": "清单名称", "unit": "单位", "project_node_name": "单位工程名称", "full_name": "分部分项全路径", "spec": "项目特征", "work_scope": "工作内容", "is_measure": "是否措施","speciality": "专业", "feeType": "费用类别"

[dataset_raw_list_data_valid]
class = FilterDataset
input = raw_list_data
filters = ("specialty" in x) and ("安装专业" not in x["specialty"])


[dataset_raw_list_data_trans]
class = MapDataset
input = raw_list_data_valid
; input = raw_list_data
expression = exec('import re; import uuid') or {"item_id": uuid.uuid3(uuid.NAMESPACE_DNS, str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"])).hex,
    "list_key": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"]),

    "item_name": x["清单名称"] if x["清单名称"] is not None else "",
    "item_feature": x["项目特征"] if x["项目特征"] is not None else "",
    "upper_item_name": x["分部分项全路径"] if x["分部分项全路径"] is not None else "",
    "unit": x["单位"] if x["单位"] is not None else "",

    "pid": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0],
    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["项目特征"]}' if x["项目特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["分部分项全路径"]}' if x["分部分项全路径"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",
    }
keep_exists = True


[dataset_list_data_label]
class = MapDataset
input = raw_list_data_trans
expression = {
    "element_label": list(sorted( [k for item in x["element"] for k, v in item.items() ] )),
    "material_label": list(sorted( [k for item in x["material"] for k, v in item.items() ] )),
;     "locElement_label": x["locElement"]
    "locElement_label": list(sorted( [k for item in x["locElement"] for k, v in item.items() ] )),
    }
keep_exists = True

###############################

[dataset_raw_list_fixed_data]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/清单要素数据集.xlsx
header_row = 0

[dataset_raw_list_element_fixed_data]
class = FilterDataset
input = raw_list_fixed_data
filters = "构件预期修改" in x and x["构件预期修改"] is not None

[dataset_list_element_fixed_data]
class = MapDataset
input = raw_list_element_fixed_data
expression = {"list_key": str(x["清单id"]), "element_label": [] if x["构件预期修改"] == "无构件" else sorted( set( x["构件预期修改"].split(",") ) ) }

[dataset_raw_list_material_fixed_data]
class = FilterDataset
input = raw_list_fixed_data
filters = "材料预期修改" in x and x["材料预期修改"] is not None

[dataset_list_material_fixed_data]
class = MapDataset
input = raw_list_material_fixed_data
expression = {"list_key": str(x["清单id"]), "material_label": [] if x["材料预期修改"] == "无材料" else sorted( set( x["材料预期修改"].split(",") ) ) }


[dataset_raw_list_locElement_fixed_data]
class = FilterDataset
input = raw_list_fixed_data
filters = "部位构件预期修改" in x and x["部位构件预期修改"] is not None

[dataset_list_locElement_fixed_data]
class = MapDataset
input = raw_list_locElement_fixed_data
expression = {"list_key": str(x["清单id"]), "locElement_label": [] if x["部位构件预期修改"] == "无部位构件" else sorted( set( x["部位构件预期修改"].split(",") ) ) }



[dataset_list_data_label_mergeElement_fixed]
class = MergeIntoDataset
base_dataset = list_data_label
merge_datasets = list_element_fixed_data
merge_type = only_replace
merge_key = list_key
merge_values = element_label
reset = False

[dataset_list_data_label_mergeMaterial_fixed]
class = MergeIntoDataset
base_dataset = list_data_label_mergeElement_fixed
merge_datasets = list_material_fixed_data
merge_type = only_replace
merge_key = list_key
merge_values = material_label
reset = False


[dataset_list_data_label_fixed]
class = MergeIntoDataset
base_dataset = list_data_label_mergeMaterial_fixed
merge_datasets = list_locElement_fixed_data
merge_type = only_replace
merge_key = list_key
merge_values = locElement_label
reset = False

############################################
# 连接测试集 训练

[dataset_raw_quantity_list_data]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/量价连接-清单要素数据集.xlsx
header_row = 0

[dataset_raw_quantity_list_data_valid]
class = FilterDataset
input = raw_quantity_list_data
filters = ("构件预期修改" in x and x["构件预期修改"] != "未校核") and ( "材料预期修改" in x and x["材料预期修改"] != "未校核")

[dataset_quantity_list_data_label]
class = MapDataset
input = raw_quantity_list_data_valid
expression = exec('import re; import uuid') or {"item_id": str(x["item_id"]),
    "list_key": str(x["清单id"]),
    "item_name": str(x["清单名称"]) if x["清单名称"] is not None else "",
    "item_feature": str(x["清单特征"]) if x["清单特征"] is not None else "",
    "upper_item_name": str(x["上级名称"]) if x["上级名称"] is not None else "",
    "unit": str(x["单位"]) if x["单位"] is not None else "",
    "pid": str(x["工程id"]),
    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["清单特征"]}' if x["清单特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["上级名称"]}' if x["上级名称"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",
    "element_label": [] if x["构件预期修改"] == "无构件" else list(sorted(x["构件预期修改"].split(","))) if x["构件预期修改"] is not None and len(x["构件预期修改"])>0 else list(sorted(x["构件预期"].split(","))) if x["构件预期"] is not None and len(x["构件预期"])>0 else [],
    "material_label": [] if x["材料预期修改"] == "无材料" else list(sorted(x["材料预期修改"].split(","))) if x["材料预期修改"] is not None and len(x["材料预期修改"])>0 else list(sorted(x["材料预期"].split(","))) if x["材料预期"] is not None and len(x["材料预期"])>0 else [],
    "locElement_label": [] if x["部位构件预期修改"] == "无部位构件" else list(sorted(x["部位构件预期修改"].split(","))) if x["部位构件预期修改"] is not None and len(x["部位构件预期修改"])>0 else list(sorted(x["部位构件预期"].split(","))) if x["部位构件预期"] is not None and len(x["部位构件预期"])>0 else [],
    }
keep_exists = True



[dataset_raw_indicator_list_fixed_data]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/指标科目连接-清单要素数据集.xlsx
header_row = 0

[dataset_indicator_list_data_label]
class = MapDataset
input = raw_indicator_list_fixed_data
expression = exec('import re; import uuid') or {"item_id": str(x["item_id"]),
    "list_key": str(x["清单id"]),
    "item_name": str(x["清单名称"]) if x["清单名称"] is not None else "",
    "item_feature": str(x["清单特征"]) if x["清单特征"] is not None else "",
    "upper_item_name": str(x["上级名称"]) if x["上级名称"] is not None else "",
    "unit": str(x["单位"]) if x["单位"] is not None else "",
    "pid": str(x["工程id"]),
    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["清单特征"]}' if x["清单特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["上级名称"]}' if x["上级名称"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",
    "element_label": [] if x["构件预期修改"] == "无构件" else list(sorted(x["构件预期修改"].split(","))) if x["构件预期修改"] is not None and len(x["构件预期修改"])>0 else list(sorted(x["构件预期"].split(","))) if x["构件预期"] is not None and len(x["构件预期"])>0 else [],
    "material_label": [] if x["材料预期修改"] == "无材料" else list(sorted(x["材料预期修改"].split(","))) if x["材料预期修改"] is not None and len(x["材料预期修改"])>0 else list(sorted(x["材料预期"].split(","))) if x["材料预期"] is not None and len(x["材料预期"])>0 else [],
    "locElement_label": [] if x["部位构件预期修改"] == "无部位构件" else list(sorted(x["部位构件预期修改"].split(","))) if x["部位构件预期修改"] is not None and len(x["部位构件预期修改"])>0 else list(sorted(x["部位构件预期"].split(","))) if x["部位构件预期"] is not None and len(x["部位构件预期"])>0 else [],
    }
keep_exists = True


[dataset_raw_cost_list_fixed_data]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/成本科目连接-清单要素数据集.xlsx
header_row = 0

[dataset_raw_cost_list_data_valid]
class = FilterDataset
input = raw_cost_list_fixed_data
filters = ("构件预期修改" in x and x["构件预期修改"] != "未校核") and ( "材料预期修改" in x and x["材料预期修改"] != "未校核") and (x["清单专业"] != "安装专业")

[dataset_cost_list_data_label]
class = MapDataset
input = raw_cost_list_data_valid
expression = exec('import re; import uuid') or {"item_id": str(x["item_id"]),
    "list_key": str(x["清单id"]),
    "item_name": str(x["清单名称"]) if x["清单名称"] is not None else "",
    "item_feature": str(x["清单特征"]) if x["清单特征"] is not None else "",
    "upper_item_name": str(x["上级名称"]) if x["上级名称"] is not None else "",
    "unit": str(x["单位"]) if x["单位"] is not None else "",
    "pid": str(x["工程id"]),
    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["清单特征"]}' if x["清单特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["上级名称"]}' if x["上级名称"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",
    "element_label": [] if x["构件预期修改"] == "无构件" else list(sorted(x["构件预期修改"].split(","))) if x["构件预期修改"] is not None and len(x["构件预期修改"])>0 else list(sorted(x["构件预期"].split(","))) if x["构件预期"] is not None and len(x["构件预期"])>0 else [],
    "material_label": [] if x["材料预期修改"] == "无材料" else list(sorted(x["材料预期修改"].split(","))) if x["材料预期修改"] is not None and len(x["材料预期修改"])>0 else list(sorted(x["材料预期"].split(","))) if x["材料预期"] is not None and len(x["材料预期"])>0 else [],
    "locElement_label": [] if x["部位构件预期修改"] == "无部位构件" else list(sorted(x["部位构件预期修改"].split(","))) if x["部位构件预期修改"] is not None and len(x["部位构件预期修改"])>0 else list(sorted(x["部位构件预期"].split(","))) if x["部位构件预期"] is not None and len(x["部位构件预期"])>0 else [],
    }
keep_exists = True


[dataset_raw_pricelib_list_fixed_data]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/分包指导价连接-清单要素数据集.xlsx
header_row = 0


[dataset_raw_pricelib_list_data_valid]
class = FilterDataset
input = raw_pricelib_list_fixed_data
filters = ("构件预期修改" in x and x["构件预期修改"] != "未校核") and ( "材料预期修改" in x and x["材料预期修改"] != "未校核") and (x["清单专业"] != "安装专业")


[dataset_pricelib_list_data_label]
class = MapDataset
input = raw_pricelib_list_data_valid
expression = exec('import re; import uuid') or {"item_id": str(x["item_id"]),
    "list_key": str(x["清单id"]),
    "item_name": str(x["清单名称"]) if x["清单名称"] is not None else "",
    "item_feature": str(x["清单特征"]) if x["清单特征"] is not None else "",
    "upper_item_name": str(x["上级名称"]) if x["上级名称"] is not None else "",
    "unit": str(x["单位"]) if x["单位"] is not None else "",
    "pid": str(x["工程id"]),
    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["清单特征"]}' if x["清单特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["上级名称"]}' if x["上级名称"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",
    "element_label": [] if x["构件预期修改"] == "无构件" else list(sorted(x["构件预期修改"].split(","))) if x["构件预期修改"] is not None and len(x["构件预期修改"])>0 else list(sorted(x["构件预期"].split(","))) if x["构件预期"] is not None and len(x["构件预期"])>0 else [],
    "material_label": [] if x["材料预期修改"] == "无材料" else list(sorted(x["材料预期修改"].split(","))) if x["材料预期修改"] is not None and len(x["材料预期修改"])>0 else list(sorted(x["材料预期"].split(","))) if x["材料预期"] is not None and len(x["材料预期"])>0 else [],
    "locElement_label": [] if x["部位构件预期修改"] == "无部位构件" else list(sorted(x["部位构件预期修改"].split(","))) if x["部位构件预期修改"] is not None and len(x["部位构件预期修改"])>0 else list(sorted(x["部位构件预期"].split(","))) if x["部位构件预期"] is not None and len(x["部位构件预期"])>0 else [],
    }
keep_exists = True


###############################
# 数据汇总

[dataset_list_data_label_merge]
class = MergeDataset
datasets = list_data_label_fixed, quantity_list_data_label, indicator_list_data_label, pricelib_list_data_label, cost_list_data_label

###############################
# 实体预测

[model_gde_list_ner]
class = GDEListNerServiceModel
task_type = 清单
item_name_key = item_name
item_feature_key = item_feature
upper_item_name_key = upper_item_name
need_fields = item_name, item_feature, upper_item_name
re_predict = False

[evaluator_list_ner_predict]
class = SimplePredictor
datasets = list_data_label_merge
models = gde_list_ner
num_workers = 1

[dataset_list_data_label_merge_entity]
class = NerEntityDataset
input = list_data_label_merge
item_id_key = list_key
ner_score_key = gde_list_ner_score
extra_dependencies = evaluator_list_ner_predict

[dataset_list_material_entity]
class = FilterDataset
input = list_data_label_merge_entity
filters = ("类型" in x) and ("材料" in x["类型"])

; entity_info['内容'] + entity_info.get('属性内容', '') if entity_info["类型"] not in ["材料-普通混凝土", "材料-模板", "材料-钢筋", "材料-钢筋套筒"]
; else ": ".join([entity_info["类型"].split("-")[-1], entity_info['内容'] + entity_info.get('属性内容', '')]),
[dataset_list_material_entity_request]
class = MapDataset
input = list_material_entity
expression = {
    "text": x['内容'] + x.get('属性内容', '') if x["类型"] not in ["材料-普通混凝土", "材料-模板", "材料-钢筋", "材料-钢筋套筒", "单列-材料-普通混凝土", "单列-材料-模板", "单列-材料-钢筋", "单列-材料-钢筋套筒", ] else ": ".join([x["类型"].split("-")[-1], x['内容'] + x.get('属性内容', '')]),
    }
keep_exists = True


###############################
# 材料预测

[model_gde_material_service_model]
class = GDEMaterialPredictServiceModel
task_type = 清单
material_name_key = text
re_predict = True
qps = 50

[evaluator_list_entity_material_predict]
class = SimplePredictor
datasets = list_material_entity_request
models = gde_material_service_model
num_workers = 1



