[DEFAULT]
workspace = /home/shilei/fbpmx/list_extract/pricelib_municipal_${date}

[project]
actions = generate, run
datasets = raw_pricelib_data
stages = municipal_pricelib_choose_export


###############################


[dataset_raw_pricelib_data]
class = GlodonAECloudExportDataset
dir = /home/shilei/corpus/cost_split/工程数据分包指导价-公司指导价正式验证集-导出
domain_model = "uid": "uid", "full_name": "分部全路径", "caption": "名称",  "spec": "项目特征", "attribute": "属性", "unit": "单位",  "work_content": "工作内容"


[dataset_raw_pricelib_data_trans]
class = MapDataset
input = raw_pricelib_data
expression = exec('import re; import uuid') or {"item_id": uuid.uuid3(uuid.NAMESPACE_DNS, str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"])).hex,
    "list_key": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0] + "-" + str(x["uid"]),

    "item_name": x["名称"] if x["名称"] is not None else "",
    "item_feature": x["项目特征"] if x["项目特征"] is not None else "",
    "upper_item_name": x["分部全路径"] if x["分部全路径"] is not None else "",
    "unit": x["单位"] if x["单位"] is not None else "",
    "pid": str(x["filepath"]).split("/")[-1].split("-解析预期结果")[0],
    "item_name_wk": f'清单名称: {x["名称"]}' if x["名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["项目特征"]}' if x["项目特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["分部全路径"]}' if x["分部全路径"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",
    }
keep_exists = True


[dataset_municipal_pricelib_choose_for_label]
class = FilterDataset
input = raw_pricelib_data_trans
filters = "specialty" in x and "市政专业" in x["specialty"]


[stage_municipal_pricelib_choose_export]
class = DatasetExportStage
dataset = municipal_pricelib_choose_for_label
output_fields = item_id, pid, list_key, upper_item_name, item_name, item_feature, unit
output_names = item_id, pid, list_key, upper_item_name, item_name, item_feature, unit
save_res_path = /home/shilei/fbpmx/list_extract/pricelib_municipal_${date}/municipal_pricelib_choose_export_${date}.xlsx


