[DEFAULT]
workspace = /home/shilei/fbpmx/list_extract/pricelib_municipal_${date}

[project]
actions = generate
datasets = raw_pricelib_data

###############################


[dataset_raw_pricelib_data]
class = GlodonAECloudExportDataset
dir = /home/shilei/corpus/cost_split/工程数据分包指导价-公司指导价正式验证集-导出



