[DEFAULT]
workspace = /home/shilei/fbpmx/list_extract/pricelib_municipal_property_${date}

[project]
actions = generate, run
datasets = municipal_pricelib_merge
stages = municipal_pricelib_merge_export

################### ################## ##################

[dataset_raw_municipal_pricelib_202608]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/pricelib_municipal/市政分包指导价-202608.xlsx
header_row = 0

[dataset_municipal_pricelib_202608]
class = MapDataset
input = raw_municipal_pricelib_202608
expression = {"list_key": str(x["清单id"]),
    "构件属性预期": x["构件属性预期"] if "构件属性预期修改" not in x or x["构件属性预期修改"] is None else "" if x["构件属性预期修改"] == "无构件属性" else ",".join(sorted(set(x["构件属性预期修改"].split(",")))),
    "材料属性预期": x["材料属性预期"] if "材料属性预期修改" not in x or x["材料属性预期修改"] is None else "" if x["材料属性预期修改"] == "无材料属性" else ",".join(sorted(set(x["材料属性预期修改"].split(",")))),
    }
keep_exists = True

[dataset_municipal_pricelib_202608_label]
class = MapDataset
input = municipal_pricelib_202608
expression = exec('import re; import uuid') or {
    "item_name": x["清单名称"] if x["清单名称"] is not None else "",
    "item_feature": x["清单特征"] if x["清单特征"] is not None else "",
    "upper_item_name": x["上级名称"] if x["上级名称"] is not None else "",
    "unit": x["单位"] if x["单位"] is not None else "",

    "pid_code": uuid.uuid3(uuid.NAMESPACE_DNS, x["工程id"]).hex,

    "item_name_wk": f'清单名称: {x["清单名称"]}' if x["清单名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["清单特征"]}' if x["清单特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["上级名称"]}' if x["上级名称"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",

    "element_label": [] if x["构件预期"] == "无构件" else list(sorted(x["构件预期"].split(","))) if x["构件预期"] is not None and len(x["构件预期"])>0 else [],
    "material_label": [] if x["材料预期"] == "无材料" else list(sorted(x["材料预期"].split(","))) if x["材料预期"] is not None and len(x["材料预期"])>0 else [],
    "locElement_label": [] if x["部位构件预期"] == "无部位构件" else list(sorted(x["部位构件预期"].split(","))) if x["部位构件预期"] is not None and len(x["部位构件预期"])>0 else [],

    "element_property_label": list(sorted(x["构件属性预期"].split(","))) if "构件属性预期" in x and x["构件属性预期"] is not None and len(x["构件属性预期"])>0 else [],
    "material_property_label": list(sorted(x["材料属性预期"].split(","))) if "材料属性预期" in x and x["材料属性预期"] is not None and len(x["材料属性预期"])>0 else [],
    }
keep_exists = True


#############################################

[dataset_raw_municipal_pricelib_hanyang]
class = ReadExcelDataset
dir = /home/shilei/corpus/cost_split/pricelib_municipal/汉阳市政_提取结果_v2_预标.xlsx
header_row = 0


[dataset_municipal_pricelib_hanyang]
class = MapDataset
input = raw_municipal_pricelib_hanyang
expression = exec('import re; import uuid') or {
    "item_id": uuid.uuid3(uuid.NAMESPACE_DNS, str(x["filepath"]).split("/")[-1].split(".xlsx")[0] + "-" + str(x["sn"])).hex,
    "list_key": str(x["filepath"]).split("/")[-1].split(".xlsx")[0] + "-" + str(x["sn"]),
    "构件属性预期": x["构件属性预期"] if "构件属性预期修改" not in x or x["构件属性预期修改"] is None else "" if x["构件属性预期修改"] == "无构件属性" else ",".join(sorted(set(x["构件属性预期修改"].split(",")))),
    "材料属性预期": x["材料属性预期"] if "材料属性预期修改" not in x or x["材料属性预期修改"] is None else "" if x["材料属性预期修改"] == "无材料属性" else ",".join(sorted(set(x["材料属性预期修改"].split(",")))),
    }
keep_exists = True

[dataset_municipal_pricelib_hanyang_label]
class = MapDataset
input = municipal_pricelib_hanyang
expression = exec('import re; import uuid') or {
    "item_name": x["任务名称"] if x["任务名称"] is not None else "",
    "item_feature": x["项目特征"] if x["项目特征"] is not None else "",
    "upper_item_name": x["全路径"] if x["全路径"] is not None else "",
    "unit": x["单位"] if x["单位"] is not None else "",

    "pid": str(x["filepath"]).split("/")[-1].split(".xlsx")[0],
    "pid_code": uuid.uuid3(uuid.NAMESPACE_DNS, str(x["filepath"]).split("/")[-1].split(".xlsx")[0]).hex,

    "item_name_wk": f'清单名称: {x["任务名称"]}' if x["任务名称"] is not None else "",
    "item_feature_wk": f'清单特征: {x["项目特征"]}' if x["项目特征"] is not None else "",
    "upper_item_name_wk": f'全路径: {x["全路径"]}' if x["全路径"] is not None else "",
    "unit_wk": f'单位: {x["单位"]}' if x["单位"] is not None else "",

    "element_label": [] if x["构件预期"] == "无构件" else list(sorted(x["构件预期"].split(","))) if x["构件预期"] is not None and len(x["构件预期"])>0 else [],
    "material_label": [] if x["材料预期"] == "无材料" else list(sorted(x["材料预期"].split(","))) if x["材料预期"] is not None and len(x["材料预期"])>0 else [],
    "locElement_label": [] if x["部位构件预期"] == "无部位构件" else list(sorted(x["部位构件预期"].split(","))) if x["部位构件预期"] is not None and len(x["部位构件预期"])>0 else [],

    "element_property_label": list(sorted(x["构件属性预期"].split(","))) if "构件属性预期" in x and x["构件属性预期"] is not None and len(x["构件属性预期"])>0 else [],
    "material_property_label": list(sorted(x["材料属性预期"].split(","))) if "材料属性预期" in x and x["材料属性预期"] is not None and len(x["材料属性预期"])>0 else [],
    }
keep_exists = True


[dataset_municipal_pricelib_merge]
class = MergeDataset
datasets = municipal_pricelib_202608_label, municipal_pricelib_hanyang_label


[stage_municipal_pricelib_merge_export]
class = DatasetExportStage
dataset = municipal_pricelib_merge
output_fields = item_id, pid, list_key, upper_item_name, item_name, item_feature, unit, specialty
output_names = item_id, pid, list_key, upper_item_name, item_name, item_feature, unit, 专业
save_res_path = /home/shilei/fbpmx/list_extract/pricelib_municipal_property_${date}/municipal_pricelib_merge_export_${date}.xlsx

#############################################################################

[dataset_municipal_pricelib_enum_property_train]
class = FilterDataset
input = municipal_pricelib_merge
filters = int(x["item_id"][-5:],16) % 10 >= 1

[dataset_municipal_pricelib_enum_property_test]
class = FilterDataset
input = municipal_pricelib_merge
filters = int(x["item_id"][-5:],16) % 10 < 1



